@define-color window_bg_color #212337;
@define-color accent_bg_color #323449;
@define-color theme_fg_color #ebfafa;
@define-color error_bg_color #f16c75;
@define-color error_fg_color #ebfafa;
@define-color success_color #37f499;
@define-color warning_color #e5c07b;
@define-color eldritch-green #37f499;
@define-color eldritch-blue #04d1f9;
@define-color eldritch-purple #a48cf2;
@define-color eldritch-pink #f265b5;
@define-color eldritch-visual #76639e;

/* Reset all styles */
* {
  all: unset;
}

/* Window wrapper */
.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @eldritch-green;
}

/* Input field */
.input {
  caret-color: @eldritch-blue;
  background: lighter(@window_bg_color);
  padding: 10px;
  color: @eldritch-blue;
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

/* List items */
.list {
  color: @eldritch-green;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
  color: @eldritch-purple;
}

.item-text {
  font-size: 15px;
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image,
.item-image-text {
  margin-right: 10px;
}

/* Quick activation labels */
.item-quick-activation {
  margin-left: 10px;
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 5px;
  color: @eldritch-pink;
  padding: 10px;
}

/* Placeholders */
.placeholder,
.elephant-hint {
  color: @theme_fg_color;
  opacity: 0.5;
}

/* Keybinds display */
.keybinds-wrapper {
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 12px;
  color: @eldritch-visual;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

/* Error display */
.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
  border-radius: 5px;
}

/* Preview pane */
.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: @theme_fg_color;
}

/* Icon sizes */
.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 38px;
}

/* Hide scrollbar */
scrollbar {
  opacity: 0;
}
