.DS_Store

common/.local/share/fonts/.uuid
.aider.tags*
.aider.chat*
.aider.input*
linux/.config/Thunar/accels.scm
linux/.config/easyeffects/db/easyeffectsrc
linux/.config/scopebuddy/scopebuddy.log
common/.config/spicetify/config-xpui.ini
common/.mozilla/firefox/1hyw4c55.dev-edition-default
common/.mozilla/firefox/51j6uerg.default
common/.mozilla/firefox/Crash Reports
common/.mozilla/firefox/Profile Groups
common/.mozilla/firefox/ii993gog.dev-edition-default
common/.mozilla/firefox/profiles.ini
