.DS_Store

common/.local/share/fonts/.uuid
.aider.tags*
.aider.chat*
.aider.input*
linux/.config/Thunar/accels.scm
linux/.config/easyeffects/db/easyeffectsrc
linux/.config/scopebuddy/scopebuddy.log
common/.config/spicetify/config-xpui.ini
linux/.config/hypr/build/hyprshutdown
linux/.config/hypr/build/hyprutils
linux/.config/easyeffects/db
linux/.config/hypr/build/aquamarine
linux/.config/hypr/build/Hyprland
linux/.config/hypr/build/hyprland-guiutils
linux/.config/hypr/build/hyprtoolkit
linux/.config/easyeffects/db
common/.local/share/Steam
common/.local/share/color-schemes
common/.local/share/delta
common/.local/share/flatpak
common/.local/share/gvfs-metadata
common/.local/share/hyprland
common/.local/share/protonmail/bridge-v3/logs
common/.local/share/vulkan/implicit_layer.d
common/.local/share/zinit
common/.local/share/zoxide
common/.local/share/recently-used.xbel
common/.local/share/applications
common/.local/share/gh/extensions
common/.local/share/protonmail/bridge-v3/gluon/backend
linux/.config/cava
common/.local/share/Trash
common/.local/share/keyrings
common/.local/share/nvim
common/.local/share/Sentry/C67DA804046263DD14C2EEB662F280E1E34B21C3
linux/.config/streamcontroller/data/com_core447_MediaPlugin/cache
linux/.config/streamcontroller/data/logs
common/.local/share/nwg-look
linux/.config/streamcontroller/data/com_core447_MediaPlugin/cache
