// https://yalter.github.io/niri/Configuration
environment {
    // Mango HUD
    MANGOHUD_CONFIGFILE "/home/neonvoid/.config/MangoHud/MangoHud.conf"
    MANGOHUD_CONFIG "read_cfg"
    // Electron
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    // GTK
    QT_QPA_PLATFORMTHEME "gtk3"
    // Wayland
    GDK_SCALE "1"
    QT_SCALE_FACTOR "1"
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    CLUTTER_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    // Firefox
    MOZ_ENABLE_WAYLAND "1"
    EGL_PLATFORM "wayland"
    // MANGOHUD
    MANGOHUD_CONFIGFILE "~/.config/MangoHud/MangoHud.conf"
}
cursor {
    xcursor-theme "Dracula-cursors"
    xcursor-size 24
}
xwayland-satellite {
    // off
    path "xwayland-satellite"
}
input {
    touchpad {
        tap
        dwt
    }
    warp-mouse-to-focus
    focus-follows-mouse
}
spawn-sh-at-startup "easyeffects --gapplication-service"
spawn-sh-at-startup "wl-clipboard-history -t"
// spawn-sh-at-startup "wl-paste --watch cliphist store"
// spawn-sh-at-startup "rm \"$HOME/.cache/cliphist/db\""
spawn-sh-at-startup "~/.config/hypr/gtksettings.sh"
spawn-sh-at-startup "~/.config/startupscripts/launch_thunderbird.py"
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "nm-applet"
spawn-at-startup "import-gsettings"
spawn-at-startup "steam"
spawn-at-startup "firefox-developer-edition"
spawn-at-startup "spotify"
spawn-at-startup "vesktop"
spawn-sh-at-startup "~/.config/niri/discord-spotify-start.sh"
hotkey-overlay {
    hide-not-bound
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
overview {
    zoom 0.8
    backdrop-color "#212337"
}
output "eDP-1" {
    scale 1.5
    hot-corners {
        off
    }
    background-color "#212337"
    backdrop-color "#212337"
}
output "DP-3" {
    variable-refresh-rate on-demand=true
    hot-corners {
        off
    }
    scale 1
    transform "normal"
    position x=4880 y=0
    background-color "#212337"
    backdrop-color "#212337"
    focus-at-startup
}
output "DP-2" {
    variable-refresh-rate on-demand=true
    hot-corners {
        off
    }
    scale 1
    transform "normal"
    position x=4880 y=1440
    background-color "#212337"
    backdrop-color "#212337"
}
output "HDMI-A-1" {
    hot-corners {
        off
    }
    scale 1
    transform "90"
    position x=3440 y=727
    background-color "#212337"
    backdrop-color "#212337"
    layout {
        preset-column-widths {
            proportion 1.0
        }
        default-column-width {
            proportion 1.0
        }
    }
}
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}
layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
        width 2.5
        active-gradient from="#37f499" to="#04d1f9" angle=45
        inactive-gradient from="#a48cf2" to="#7081d0" angle=45 relative-to="workspace-view"
    }
    border {
        on
        width 2.5
        urgent-color "#f16c75"
        active-gradient from="#37f499" to="#04d1f9" angle=45
        inactive-gradient from="#a48cf2" to="#7081d0" angle=45 relative-to="workspace-view"
    }
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
workspace "media" {
    open-on-output "HDMI-A-1"
}
workspace "browser" {
    open-on-output "DP-3"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}
workspace "main" {
    open-on-output "DP-2"
}
workspace "steam" {
    open-on-output "DP-2"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}
workspace "games" {
    open-on-output "DP-2"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}
workspace "email" {
    open-on-output "DP-3"
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="vesktop"
    open-on-workspace "media"
}
window-rule {
    match app-id="Spotify"
    open-on-workspace "media"
}
window-rule {
    match app-id="^firefox.*$"
    open-on-workspace "browser"
}
window-rule {
    match app-id="steam$"
    open-on-workspace "steam"
}
window-rule {
    match app-id="gamescope$"
    open-on-workspace "games"
}
window-rule {
    match app-id="bitwarden$"
    block-out-from "screencast"
}
window-rule {
    match app-id="thunderbird"
    open-on-workspace "email"
}
window-rule {
    match app-id="thunderbird" title="^.*Reminder$"
    open-floating true
}
// Enable rounded corners for all windows
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Mod+Return hotkey-overlay-title="Open a Terminal" {
        spawn "kitty"
    }
    Mod+Space hotkey-overlay-title="Run an Application" {
        spawn "walker"
    }
    Mod+Delete hotkey-overlay-title="Session menu" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"
    }
    Mod+Shift+Delete hotkey-overlay-title="Lock the Screen" {
        spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"
    }
    Mod+b hotkey-overlay-title="Firefox" {
        spawn "firefox-developer-edition"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    Ctrl+XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%+ -l 1"
    }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%-"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }
    XF86AudioStop allow-when-locked=true {
        spawn-sh "playerctl stop"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next"
    }
    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
    Mod+S {
        focus-workspace "steam"
    }
    Mod+G {
        focus-workspace "games"
    }
    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+Tab repeat=false {
        toggle-overview
    }
    Mod+Q repeat=false {
        close-window
    }
    Mod+Shift+Space {
        toggle-window-floating
    }
    Mod+H {
        focus-column-or-monitor-left
    }
    Mod+J {
        focus-window-or-monitor-down
    }
    Mod+K {
        focus-window-or-monitor-up
    }
    Mod+L {
        focus-column-or-monitor-right
    }
    Mod+Shift+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Shift+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Down {
        move-workspace-to-monitor-down
    }
    Mod+Up {
        move-workspace-to-monitor-up
    }
    Mod+Right {
        move-workspace-to-monitor-right
    }
    Mod+Left {
        move-workspace-to-monitor-left
    }
    Mod+V {
        spawn-sh "walker -m clipboard"
    }
    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 {
        move-column-to-workspace-up
    }
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollRight {
        move-column-right
    }
    Mod+Ctrl+WheelScrollLeft {
        move-column-left
    }
    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+Ctrl+Shift+WheelScrollDown {
        move-column-right
    }
    Mod+Ctrl+Shift+WheelScrollUp {
        move-column-left
    }
    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    // Switches focus between the current and the previous workspace.
    Alt+Tab {
        focus-workspace-previous
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+F {
        maximize-column
    }
    Mod+Shift+F {
        fullscreen-window
    }
    Mod+C {
        center-column
    }
    Mod+Ctrl+C {
        center-visible-columns
    }
    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W {
        toggle-column-tabbed-display
    }
    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P {
        power-off-monitors
    }
}
debug {
    honor-xdg-activation-with-invalid-serial
}

