* {
    all: unset;
    background-image: none;
    box-shadow: none;
    font-family: "JetBrains Mono Nerd Font", monospace;
}

window {
    background:  rgba(33, 35, 55, 0.9);
    background-size: cover;
    background-position: center;
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    transition: 200ms linear;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
    color: #a48cf2 ;
    background-color: rgba(33, 35, 55, 0.7);
    border: #04d1f9  5px solid;
    box-shadow: 2px 3px 8px rgba(33, 35, 55, 0.2);

}

button:hover, button:focus {
    background-color: rgba(31, 33, 36, 0.5);
    border: #f265b5 5px solid;
}

button:focus {
    background-size: 22%;
}

button:active {
    background-color: rgba(31, 33, 36, 0.6);
    border: #9b9da1 5px solid;
}

#lock {
    background-image: url("./icons/lock.png");
}

#logout {
    background-image: url("./icons/logout.png");
}

#suspend {
    background-image: url("./icons/suspend.png");
}

#hibernate {
    background-image: url("./icons/hibernate.png");
}

#shutdown {
    background-image: url("./icons/shutdown.png");
}

#reboot {
    background-image: url("./icons/reboot.png");
}
