---
- name: Change shell for neonvoid to /bin/zsh
  ansible.builtin.user:
    name: neonvoid
    shell: /bin/zsh
  become: true

- name: Read existing kernel cmdline from /etc/default/limine
  ansible.builtin.shell: grep 'KERNEL_CMDLINE\[default\]' /etc/default/limine | grep -oP 'root=UUID=\S+'
  register: existing_root
  changed_when: false
  become: true
  failed_when: false

- name: Extract root UUID from existing cmdline
  ansible.builtin.set_fact:
    root_uuid: "{{ existing_root.stdout | regex_replace('root=UUID=', '') }}"
  when: existing_root.stdout is defined and existing_root.stdout != ''

- name: Configure kernel parameters in /etc/default/limine
  ansible.builtin.lineinfile:
    path: /etc/default/limine
    regexp: '^KERNEL_CMDLINE\[default\]'
    line: 'KERNEL_CMDLINE[default]+="quiet nowatchdog splash video=DP-1:3440x1440@144 video=DP-2:3440x1440@144 video=HDMI-A-1:2560x1440@144 amdgpu.gpu_recovery=1 amdgpu.ppfeaturemask=0xfffd7fff amdgpu.noretry=0 amdgpu.runpm=0 rw rootflags=subvol=/@ root=UUID={{ root_uuid }}"'
  become: true

- name: Regenerate limine config
  ansible.builtin.command: limine-update
  become: true

- name: Configure limine settings at top of file
  ansible.builtin.blockinfile:
    path: /boot/limine.conf
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Limine Configuration"
    insertbefore: BOF
    block: |
      #timeout: 3
      ### Note: For "default_entry" to select a sub-entry within an OS menu, modify "/OS name" to "/+OS name" to keep its submenus visible.
      default_entry: 2
      #interface_branding: Your boot manager
      #interface_branding_color: 3
      hash_mismatch_panic: no
      term_palette: "212337;f16c75;37f499;f1fc79;04d1f9;a48cf2;7081d0;ebfafa"
      term_palette_bright: "323449;f16c75;37f499;f1fc79;04d1f9;a48cf2;7081d0;ebfafa"
      term_background: "212337"
      foreground: "37f499"
      brightBackground: "323449"
      brightForeground: "37f499"
      interface_resolution: "3440x1440"
      interface_branding: "The Void"
      interface_branding_color: 2
      editor_enable: yes
      editor_highlighting: yes
      editor_validation: yes
  become: true

- name: Create /games directory
  ansible.builtin.file:
    path: /games
    state: directory
    mode: "0777"
  become: true

- name: Add /games mount to fstab
  ansible.builtin.mount:
    path: /games
    src: UUID=ae21aab8-0d67-4e6a-9f01-df1d473460d9
    fstype: ext4
    opts: defaults,noatime,nofail,mode=0777
    state: mounted
  become: true

- name: Configure vconsole font
  ansible.builtin.lineinfile:
    path: /etc/vconsole.conf
    regexp: "^FONT="
    line: "FONT=ter-118b"
    create: true
  become: true

- name: Configure vconsole color palette
  ansible.builtin.blockinfile:
    path: /etc/vconsole.conf
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Color Palette"
    block: |
      COLOR_0=21222c
      COLOR_1=7081d0
      COLOR_2=f9515d
      COLOR_3=f16c75
      COLOR_4=37f499
      COLOR_5=69F8B3
      COLOR_6=e9f941
      COLOR_7=f1fc79
      COLOR_8=9071f4
      COLOR_9=a48cf2
      COLOR_10=f265b5
      COLOR_11=FD92CE
      COLOR_12=04d1f9
      COLOR_13=66e4fd
      COLOR_14=ebfafa
      COLOR_15=ffffff
  become: true

- name: Add color hook to mkinitcpio.conf after udev/systemd
  ansible.builtin.replace:
    path: /etc/mkinitcpio.conf
    regexp: '^(HOOKS=\(.*?\b(?:udev|systemd)\b)(.*?\))'
    replace: '\1 colors\2'
  become: true

- name: Regenerate initramfs
  ansible.builtin.shell: echo "" | mkinitcpio -P
  become: true

- name: Configure Bluetooth LE MinConnectionInterval
  ansible.builtin.ini_file:
    path: /etc/bluetooth/main.conf
    section: LE
    option: MinConnectionInterval
    value: "7"
  become: true

- name: Configure Bluetooth LE MaxConnectionInterval
  ansible.builtin.ini_file:
    path: /etc/bluetooth/main.conf
    section: LE
    option: MaxConnectionInterval
    value: "9"
  become: true

- name: Configure Bluetooth LE ConnectionLatency
  ansible.builtin.ini_file:
    path: /etc/bluetooth/main.conf
    section: LE
    option: ConnectionLatency
    value: "0"
  become: true

# Steam - Disable shader cache
# Then enable these
- name: Set AMD_VULKAN_ICD in /etc/environment
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: "^AMD_VULKAN_ICD="
    line: "AMD_VULKAN_ICD=RADV"
    create: true
  become: true

- name: Set MESA_SHADER_CACHE_MAX_SIZE in /etc/environment
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: "^MESA_SHADER_CACHE_MAX_SIZE="
    line: "MESA_SHADER_CACHE_MAX_SIZE=12G"
    create: true
  become: true
