---
- name: Install Chaotic AUR keyring
  ansible.builtin.shell: |
    pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
    pacman-key --lsign-key 3056513887B78AEB
  become: true
  args:
    executable: /bin/bash
  ignore_errors: true
  when: enable_chaotic_aur | default(true) | bool

- name: Download Chaotic AUR keyring and mirrorlist packages
  ansible.builtin.get_url:
    url: "https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-{{ item }}"
    dest: "/tmp/chaotic-{{ item }}"
    mode: "0644"
  loop:
    - keyring.pkg.tar.zst
    - mirrorlist.pkg.tar.zst
  become: true
  when: enable_chaotic_aur | default(true) | bool

- name: Install Chaotic AUR keyring and mirrorlist packages
  community.general.pacman:
    name:
      - /tmp/chaotic-keyring.pkg.tar.zst
      - /tmp/chaotic-mirrorlist.pkg.tar.zst
    state: present
  become: true
  when: enable_chaotic_aur | default(true) | bool

- name: Add Chaotic AUR repository to pacman.conf
  ansible.builtin.blockinfile:
    path: /etc/pacman.conf
    block: |
      [chaotic-aur]
      Include = /etc/pacman.d/chaotic-mirrorlist
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Chaotic AUR"
    insertafter: EOF
  become: true
  when: enable_chaotic_aur | default(true) | bool

- name: Update package databases
  community.general.pacman:
    update_cache: true
  become: true
  when: enable_chaotic_aur | default(true) | bool

- name: Read package list from file
  ansible.builtin.slurp:
    src: "{{ pkglist_file | default('/home/neonvoid/dotfiles/linux/.config/pacman/pkglist.txt') }}"
  register: pkglist_content

- name: Parse package list
  ansible.builtin.set_fact:
    packages_to_install: "{{ (pkglist_content['content'] | b64decode).split('\n') | select('match', '.+') | list }}"

- name: Install packages from list
  community.general.pacman:
    name: "{{ packages_to_install }}"
    state: present
    extra_args: "--noconfirm"
  become: true

- name: Read AUR package list from file
  ansible.builtin.slurp:
    src: "{{ pkglist_aur_file | default('/home/neonvoid/dotfiles/linux/.config/pacman/pkglist_aur.txt') }}"
  register: pkglist_aur_content

- name: Parse AUR package list
  ansible.builtin.set_fact:
    aur_packages_to_install: "{{ (pkglist_aur_content['content'] | b64decode).split('\n') | select('match', '.+') | list }}"
- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    mode: 0644
    validate: 'visudo -cf %s'

- name: Install AUR packages from list
  kewlfft.aur.aur:
    name: "{{ aur_packages_to_install }}"
    use: paru
    state: present
  become: yes
  become_user: aur_builder
