---
- name: Copy greetd config
  ansible.builtin.copy:
    src: "{{ greetd_config_src | default('~/dotfiles/linux-sys/etc/greetd/config.toml') }}"
    dest: /etc/greetd/config.toml
    mode: preserve
    force: true
  become: true

- name: Enable greetd.service
  ansible.builtin.systemd_service:
    name: greetd.service
    enabled: true
  become: true

- name: Add ExecStartPre to greetd.service, to set screen resolution before greetd starts
  ansible.builtin.lineinfile:
    path: /usr/lib/systemd/system/greetd.service
    insertbefore: "^ExecStart"
    line: "ExecStartPre=/usr/sbin/fbset -xres {{ screen_xres | default('3440') }} -yres {{ screen_yres | default('1440') }}"
    regexp: "^ExecStartPre=/usr/sbin/fbset"
  become: true

- name: Set stop job timeouts to 15sec
  ansible.builtin.lineinfile:
    path: /etc/systemd/system.conf
    regexp: "^#?DefaultTimeoutStopSec"
    line: "DefaultTimeoutStopSec=15s"
  become: true

- name: Reload systemd daemon
  ansible.builtin.systemd_service:
    daemon_reload: true
  become: true

- name: Disable ufw
  ansible.builtin.systemd_service:
    name: ufw
    enabled: false
  become: true

- name: Create /etc/pacman.d/hooks directory
  ansible.builtin.file:
    path: /etc/pacman.d/hooks
    state: directory
    mode: "0755"
  become: true

- name: Copy pacman hooks
  ansible.builtin.copy:
    src: "{{ pacman_hooks_src | default('~/dotfiles/linux-sys/etc/pacman.d/hooks/') }}"
    dest: /etc/pacman.d/hooks/
    mode: preserve
  become: true
# Enabled by default in cachyos
# - name: Enable ananicy-cpp
#   ansible.builtin.systemd_service:
#     name: ananicy-cpp.service
#     enabled: true
#   become: true
