spawn-sh-at-startup "wl-clip-persist --clipboard regular --reconnect-tries 0 &"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "~/.config/gtk-3.0/gtksettings.sh"
spawn-at-startup "import-gsettings"
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "hypridle -c ~/.config/niri/hypridle.conf"
spawn-at-startup "nm-applet"
spawn-at-startup "steam"
spawn-at-startup "firefox-developer-edition"
spawn-at-startup "spotify"
spawn-at-startup "vesktop"
spawn-sh-at-startup "protonmail-bridge --no-window"
spawn-sh-at-startup "python3 ~/.config/startupscripts/launch_thunderbird.py"
spawn-at-startup "fractal"
spawn-sh-at-startup "~/.config/easyeffects/easyeffects.sh"
spawn-sh-at-startup "wpctl set-volume @DEFAULT_AUDIO_SINK@ 100%"
spawn-sh-at-startup "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 100%"
spawn-sh-at-startup "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ 0"
spawn-sh-at-startup "wpctl set-mute @DEFAULT_AUDIO_SINK@ 0"
spawn-sh-at-startup "~/.config/niri/scripts/discord-spotify-start.sh"
