/*
    debug: env GTK_DEBUG=interactive ghostty
  https://docs.gtk.org/gtk4/css-overview.html
  https://docs.gtk.org/gtk4/css-properties.html
*/

headerbar {
  min-height: 0px;
  padding: 0;
  margin: 0;
  border: none;
  background: #212337;
  /* Base */
}

tabbar {
  background-color: #11111b;
  /* Crust */
}

tab {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 2px 10px;
  color: #ebfafa;
  /* Subtext0 */
  transition: all 0.2s ease;
}

tab:selected {
  background-color: #37f499;
  /* Mauve */
  color: #212337;
  /* Base */
  font-weight: bold;
}

tab:hover:not(:selected) {
  background-color: #313244;
  /* Surface0 */
  color: #cdd6f4;
  /* Text */
}
